<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Đơn hàng {{orderID}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="cart_product_list">
                        <h3 class="cart_single_title text-center">Giỏ hàng</h3>
                        <div class="table-responsive-md">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">Sản phẩm</th>
                                        <th class="text-center">Giá</th>
                                        <th class="text-center">Số lượng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of products">
                                        <td>
                                            <div class="media">
                                                <div class="d-flex">
                                                    <img src="{{product.image}}" alt="" width="100px" height="100px">
                                                </div>
                                                <div class="media-body">
                                                    <h4>{{product.name}}</h4>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <p>{{product.price | number}} VND</p>
                                        </td>
                                        <td class="text-center">
                                            <p>{{product.quantity}}</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-offset-6 centered">
                    <div class="total_amount_area">
                        <div class="cart_totals_area">
                            <h4 class="text-center">{{status}}</h4>
                            <div class="total_amount row m0 row_disable">
                                <div class="float-left">Tổng</div>
                                <div class="float-right">{{total | number}} VND</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>