<div class="footer_area border_none">
    <div class="container">
        <div class="footer_widgets">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6">
                    <aside class="f_widget link_widget f_info_widget">
                        <div class="f_w_title">
                            <h3>Đang kinh doanh</h3>
                        </div>
                        <ul>
                            <li><a routerLink="#">Điện tử</a></li>
                            <li><a routerLink="#">Điện lạnh</a></li>
                            <li><a routerLink="#">Điện gia dụng</a></li>
                            <li><a routerLink="#">Phụ kiện</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <aside class="f_widget link_widget f_service_widget">
                        <div class="f_w_title">
                            <h3>Tiện ích và dịch vụ</h3>
                        </div>
                        <ul>
                            <li><a routerLink="#">Khuyến mãi</a></li>
                            <li><a routerLink="#">Tin tức công nghệ</a></li>
                            <li><a routerLink="#">Tin tức</a></li>
                            <li><a routerLink="#">Voucher</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <aside class="f_widget link_widget f_extra_widget">
                        <div class="f_w_title">
                            <h3>Hỗ trợ
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                        </div>
                        <ul>
                            <li><a routerLink="#">Hướng dẫn mua hàng và chuyển khoản</a></li>
                            <li><a routerLink="#">Báo giá vật tư lắp đặt</a></li>
                            <li><a routerLink="#">Hướng dẫn mua trả góp</a></li>
                            <li><a routerLink="#">Hỗ trợ bảo hành</a></li>
                            <li><a routerLink="#">Chính sách đổi trả hàng</a></li>
                            <li><a routerLink="#">Sửa chữa</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <aside class="f_widget link_widget f_account_widget">
                        <div class="f_w_title">
                            <h3>Liên hệ với chúng tôi</h3>
                        </div>
                        <ul>
                            <li><a routerLink="#">Bán hàng (8:00 - 20:30)</a></li>
                            <li><a routerLink="#">0905 426 446</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>