<admin-header></admin-header>
<div class="container">
  <div class="row nav">
    <div class="col-lg-12">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/electrics/televisions" routerLinkActive="nav-link active">TI VI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/electrics/dvd-players" routerLinkActive="nav-link active">ĐẦU ĐĨA DVD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/refrigerations/washers" routerLinkActive="nav-link active">MÁY GIẶT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/refrigerations/refrigerators" routerLinkActive="nav-link active">TỦ LẠNH</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/refrigerations/air-conditioners" routerLinkActive="nav-link active">ĐIỀU HOÀ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/appliances/rice-cookers" routerLinkActive="nav-link active">NỒI CƠM ĐIỆN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/accessories/wireless-routers" routerLinkActive="nav-link active">BỘ ĐỊNH TUYẾN</a>
        </li>
      </ul>
    </div>
  </div>
</div>